
* {
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

.btn {

    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    color: #f3f3f3;
    background-color: #333;
    padding: 0.15rem 1rem;
    border: none;
    border-radius: 1px;
}

.btn:hover {
    background: #93cb52;
}

.badge {
    display: inline-block;
    text-decoration: none;

}

h4 {
    margin-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: #93cb52;
    text-decoration-thickness: 2px;
}